$tags: (tags: "tags",
	a: "$a",
	area: "$area",
	article: "$article",
	aside: "$aside",
	audio: "$audio",
	b: "$b",
	blockquote: "$blockquote",
	body: "$body",
	button: "$button",
	canvas: "$canvas",
	caption: "$caption",
	code: "$code",
	del: "$del",
	details: "$details",
	div: "$div",
	dl: "$dl",
	dt: "$dt",
	em: "$em",
	embed: "$embed",
	fieldset: "$fieldset",
	figcaption: "$figcaption",
	figure: "$figure",
	footer: "$footer",
	form: "$form",
	h1: "$h1",
	h2: "$h2",
	h3: "$h3",
	h4: "$h4",
	h5: "$h5",
	h6: "$h6",
	head: "$head",
	header: "$header",
	hr: "$hr",
	html: "$html",
	i: "$i",
	iframe: "$iframe",
	img: "$img",
	input: "$input",
	ins: "$ins",
	kbd: "$kbd",
	keygen: "$keygen",
	label: "$label",
	legend: "$legend",
	li: "$li",
	main: "$main",
	map: "$map",
	mark: "$mark",
	menu: "$menu",
	menuitem: "$menuitem",
	meter: "$meter",
	nav: "$nav",
	noscript: "$noscript",
	object: "$object",
	ol: "$ol",
	output: "$output",
	p: "$p",
	pre: "$pre",
	progress: "$progress",
	q: "$q",
	s: "$",
	samp: "$samp",
	section: "$section",
	select: "$select",
	small: "$small",
	span: "$span",
	strong: "$strong",
	sub: "$sub",
	summary: "$summary",
	sup: "$sup",
	table: "$table",
	tbody: "$tbody",
	td: "$td",
	textarea: "$textarea",
	tfoot: "$tfoot",
	th: "$th",
	thead: "$thead",
	time: "$time",
	tr: "$tr",
	u: "$u",
	ul: "$ul",
	var: "$var",
	video: "$video"	
	);