$tags: (
	a: "",
	area: "",
	article: "",
	aside: "",
	audio: "",
	b: "",
	blockquote: "",
	body: "",
	button: "",
	canvas: "",
	caption: "",
	code: "",
	del: "",
	details: "",
	div: $div, // <-- Example
	dl: "",
	dt: "",
	em: "",
	embed: "",
	fieldset: "",
	figcaption: "",
	figure: "",
	footer: "",
	form: "",
	h1: "",
	h2: "",
	h3: "",
	h4: "",
	h5: "",
	h6: "",
	head: "",
	header: "",
	hr: "",
	html: "",
	i: "",
	iframe: "",
	img: "",
	input: "",
	ins: "",
	kbd: "",
	keygen: "",
	label: "",
	legend: "",
	li: "",
	main: "",
	map: "",
	mark: "",
	menu: "",
	menuitem: "",
	meter: "",
	nav: "",
	noscript: "",
	object: "",
	ol: "",
	output: "",
	p: "",
	pre: "",
	progress: "",
	q: "",
	s: "",
	samp: "",
	section: "",
	select: "",
	small: "",
	span: "",
	strong: "",
	sub: "",
	summary: "",
	sup: "",
	table: "",
	tbody: "",
	td: "",
	textarea: "",
	tfoot: "",
	th: "",
	thead: "",
	time: "",
	tr: "",
	u: "",
	ul: "",
	var: "",
	video: "",
	);